body {
    background-color: #1a1a1a;
    color: white;
}

h1 {
    color: #005d88;
}

#clickMe {
    cursor: pointer;       /* Shows pointer on hover */
    color: rgb(66, 66, 234);           /* Makes it look clickable */
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.hidden {
    display: none;
}
